body {
    font-family: Product Sans, Roboto, Tahoma;    
}

input {
    display: block;
}

form {
    margin-top:100px;
}

input[type=text] {
    border-radius: 14px;
    border-color: grey;
    size: 250px;
    height: 30px;
    display: block;
}

a {
    color: black;
}

h2 {

    text-align: center;
    margin-top: 100px;
}


h3 {
    text-align: center;

}

.centercode {
    margin: auto;
    display: block;
}