body {
    font-family: Product Sans, Roboto, Tahoma;    
}

input {
    display: block;
}

form {
    text-align: center;
    margin-top:100px;
}

input[type=text] {
    text-align: center;
    border-radius: 24px;
    border-color: grey;
    size: 250px;
    height: 30px;
    display: block;
}

a {
    color: black;
}

h2, h3 {
    text-align: center;

}

.centercode {
    text-align: center;
}